{% extends "layout.html" %}
{% block content %}
<h2>Nieuw student</h2>
<br>
<form method="POST" action="">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="naam">Naam</label>
            <input type="text" class="form-control" id="naam" placeholder="Naam">
        </div>
        <div class="form-group col-md-6">
            <label for="voornaam">Voornaam</label>
            <input type="password" class="form-control" id="voornaam" placeholder="Voornaam">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="studentnummer">Studentnummer</label>
            <input type="text" class="form-control" id="studentnummer" placeholder="Studentnummer">
        </div>
        <div class="form-group col-md-6">
            <label for="richting">Richting</label>
            <input type="password" class="form-control" id="richting" placeholder="Richting">
        </div>
    </div>
    <div class="form-group">
        <label for="cohort">Cohort</label>
        <input type="text" class="form-control" id="cohort" placeholder="Cohort">
    </div>
    <button type="submit" class="btn btn-primary, bg-info">Opslaan</button>
</form>
{% endblock content %}