{% extends "layout.html" %}
{% block content %}
<br>
<div>
    <div class="float-right">
        <a href="{{ url_for('presentie') }}">
            <button type="button" class="btn btn-outline-info">Presentie Opname</button>
        </a>
    </div>
    <div class="float-left">
        <h2>This is the Home page</h2>
    </div>
</div>
<br>
<br>
<br>
<div style="height: 20em; overflow: auto;">
    <table id="tbl_student" class="table table-sm">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Vak</th>
                <th scope="col">Student</th>
                <th scope="col">Presentie</th>
                <th scope="col">Datum</th>
                <th scope="col">Blok</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for pres in posts %}
            <tr>
                <td>{{ pres.pres_id }}</td>
                <td>{{ pres.vak.vaknaam }}</td>
                <td>{{ pres.student.naam }} {{ pres.student.voornaam }}</td>
                <td>{{ pres.presentie }}</td>
                <td>{{ pres.datum.strftime('%d/%m/%y') }}</td>
                <td>{{ pres.blok }}</td>
                <td>
                    <a href="{{ url_for('pres', id=pres.pres_id) }}">
                        <button type="button" class="btn btn-outline-info">Wijzigen</button>
                    </a>
                    <a href="{{ url_for('verwijder_pres', id=pres.pres_id) }}">
                        <button type="button" class="btn btn-outline-danger">Verijderen</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}