{% extends "layout.html" %}
{% block content %}

<br>
<div class="float-right">
    <a href="{{ url_for('nieuw_vak') }}">
        <button type="button" class="btn btn-outline-info">Nieuw Vak</button>
    </a>
</div>
<br>
<br>
<br>
<div style="height: 20em; overflow: auto;">
    <table id="tbl_vak" class="table table-sm">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Vakcode</th>
                <th scope="col">Vak</th>
            </tr>
        </thead>
        <tbody>
            {% for Vak in posts %}
            <tr>
                <td>{{ Vak.vak_id }}</td>
                <td>{{ Vak.vakcode }}</td>
                <td>{{ Vak.vaknaam }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content%}